header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  font-size: 1.2rem;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}
#rojao {
        height: 50px;
        width: 50px;
        background-color: red;
        border-radius: 50%;
        position: absolute;
        display: none;
        z-index: 9999;
      }
      #rojao .pontilhado {
        height: 10px;
        width: 10px;
        background-color: yellow;
        border-radius: 50%;
        position: absolute;
        animation: explodir 1s ease-out forwards;
      }
      @keyframes explodir {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
          opacity: 0;
        }
      }
#resultado {
  display: none;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}
